 <% include ./partials/header%>

<!-- <h1>Login</h1>

<form action="/login" method="POST">
	<input type="text" name="username" placeholder="username">
	<input type="password" name="password" placeholder="password">
	<input type="submit" value="Login">
</form>

 -->


<div class="container" id = "authorizing">
	<div class="row" style="display:block;">
		<h1 style="text-align: center;">Login</h1>
		<div style="width: 30%; margin:25px auto;">
			<form action="/login" method="POST">
				<div class="form-group">
					<input class="form-control" type="text" name="username" placeholder="Username">
				</div>
				<div class="form-group">
					<input class="form-control" type="password" name="password" placeholder="Password">
				</div>
				<div class="form-group">
					<button class="btn btn-lg btn-primary btn-block">Login</button>
				</div>
			</form>
			<div class="inline-block text-center">
				<p>
				<a href="/">Go Back!</a>    | Or <a href="/">SignUp</a> instead</p>
	 		</div>
		</div>
	</div>
</div>
<div style="width: 80%" >
	<div class="footer bg-dark text-white">
		<div class="float-right">

			<a class="fb-ic mr-3" href="https://www.facebook.com/TarunSinghT49"><i class="fa fa-lg fa-facebook"> </i></a>
			<a class="git-ic mr-3" href="https://github.com/thetseffect"><i class="fa fa-lg fa-github"> </i></a>
			<a class="li-ic mr-3" href="https://www.linkedin.com/in/thetseffect"><i class="fa fa-lg fa-linkedin"> </i></a>
			<a class="ins-ic mr-3" href="https://www.instagram.com/tarunsingh_49f/"><i class="fa fa-lg fa-instagram"> </i></a>
		</div>
		<p style="padding-left: .7%;">Developer: Tarun Singh</p>
	</div>
</div>

<% include ./partials/footer%>
